# ADP API credentials
client_id = "client_id"
client_secret = "client_secret"

# Main Associate ID
main_associate_id = "associate_id"

# Paths to the PEM and KEY files
cert_file_path = "C:/Path/to/File.pem"
key_file_path = "C:/Path/to/File.key"

# Database credentials
server = 'ip or hostname'
user = 'username'
password = 'password'
database = 'database'
schema = 'schema'