# ADP API credentials
client_id = "client_id"
client_secret = "client_secret"

# Main Associate ID
main_associate_id = "associate_id"

# Paths to the PEM and KEY files
cert_file_path = "C:/Path/to/File.pem"
key_file_path = "C:/Path/to/File.key"

# Database credentials
server = 'ip or hostname'
user = 'username'
password = 'password'
database = 'database'
default_schema = 'schema'
adp_schema = 'time card schema'
digital_timesheet_schema = 'digital timesheet schema name'

# Timecard table procedures
tc_procedure_1 = 'time card procedure name'
tc_procedure_2 = 'time card procedure name'
tc_procedure_3 = 'time card procedure name'
tc_procedure_4 = 'time card procedure name'
tc_procedure_5 = 'time card procedure name'
tc_procedure_6 = 'time card procedure name'

# Employee table procedures
emp_procedure_1 = 'employee procedure name'
emp_procedure_2 = 'employee procedure name'
emp_procedure_3 = 'employee procedure name'
emp_procedure_4 = 'employee procedure name'

# Digital timesheet procedures
dts_procedure_1 = 'digital timesheet procedure'